                                                <section id="section-works" class="section appear clearfix">
<div class="container">

    <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
                <h2 class="section-heading animated" data-animation="bounceInUp">Галерея</h2>
                <p>Надо придумать, что написать тут.</p>
            </div>
        </div>
    </div>

            <div class="row">
              <nav id="filter" class="col-md-12 text-center">
                <ul>
                  <li><a href="#" class="current btn-theme btn-small" data-filter="*">Все</a></li>
                  {% for album in albums %}
                  <li><a href="#"  class="btn-theme btn-small" data-filter=".{{album.id}}" >{{ album.title }}</a></li>
                  {% endfor %}
                </ul>
              </nav>
              <div class="col-md-12">
                <div class="row">
                  <div class="portfolio-items isotopeWrapper clearfix" id="3">
                        {% for photo in img_list %}
                        <article class="col-md-4 isotopeItem {{ photo.album.id }}">
                            <div class="portfolio-item">
                                <img src="{{ photo.img.url }}" alt="" />
                                 <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Приблизить</a></h5>
                                        <a href="{{ photo.img.url }}" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                     </div>
                                 </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
</div>
</section>