{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<hr>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <p>Новый пароль сохранен. Вы можете войти.</p>
                            <p><a href="/auth/login/">Войти</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}