

<html>
<head>
    <title> Спасибо за регистрацию </title>
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
</head>

<body>

<h1 align="center" style="font-family: 'Lobster'; color: #FFFFE0; background: #4682B4; padding: 3px"> Регистрация началась </h1>
<h3 align="center" style="color: #696969"> Спасибо за уделённое время. На ваш e-mail отправлен
код подтверждения. <br> Для продолжение регистрации необходимо перейти
    по указанной ссылке.</h3>

</body>
</html>