<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Личный кабинет</title>
    <!-- BOOTSTRAP STYLE SHEET -->
    <link href="{% static 'css/bootstrap_profile.css' %}" rel="stylesheet" />
    <!-- FONT-AWESOME STYLE SHEET FOR BEAUTIFUL ICONS -->
    <link href="{% static 'css/font-awesome_profile.css' %}" rel="stylesheet" />
     <!-- CUSTOM STYLE CSS -->
    <style type="text/css">
               .btn-social {
            color: white;
            opacity: 0.8;
        }

            .btn-social:hover {
                color: white;
                opacity: 1;
                text-decoration: none;
            }

        .btn-facebook {
            background-color: #3b5998;
        }

        .btn-twitter {
            background-color: #00aced;
        }

        .btn-linkedin {
            background-color: #0e76a8;
        }

        .btn-google {
            background-color: #c32f10;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Назад</a>
            </div>
           <!-- <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li><a href="#">Выйти</a></li>
                </ul>
            </div>-->
        </div>
    </div>
    <!-- NAVBAR CODE END -->


    <div class="container">
        <section style="padding-bottom: 50px; padding-top: 50px;">

            <form  novalidate id="profile" action="/auth/profile2/"  name="profile" method="post" role="form" class="">
            <div class="row">
                <div class="col-md-4">
                    <br/>
                           {{ form.non_field_errors }}
                                                 {{ error }}
                           {% for field in form %}
                           <div class="form-group">
                               <div>
                              {{ field.label_tag }}
                               </div>
                               {{ field }}
                               {{ field.errors }}
                              <div class="validation"></div>
                           </div>
                           {% endfor %}
                           {% csrf_token %}
                          <button type="submit" class="btn btn-theme pull-left" name="button1">Сохранить</button>
                        <!--<input type="submit" class="btn btn-success" value="Сохранить изменения">-->
                </div>

                 <div class="col-md-4">
                    <br/>

                           {% for field in formPass %}
                           <div class="form-group">
                              <div>
                                  {{ field.label_tag }}
                              </div>
                               {{ field }}
                               <div class="validation"></div>
                          </div>

                           {% endfor %}
                           {{ err }}
                            <br>
                           {% csrf_token %}
                          <button type="submit" class="btn btn-theme pull-left" name="button2">Сохранить</button>
                        <!--<input type="submit" class="btn btn-success" value="Сохранить изменения">-->
                </div>
            </div>
            <!-- ROW END -->
            </form>
        <br/>
        </section>

        <!-- SECTION END -->
    </div>
    <!-- CONATINER END -->

    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE JQUERY FILE -->
    <script src="{% static 'js/jquery-1.11.1P.js' %}"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
{#    Что значит буква P в названии bootstrapP ?#}
    <script src="{% static 'js/bootstrap_profile.js' %}"></script>
</body>

</html>
