{% load staticfiles %}
<html>
<head>
	<meta charset="UTF-8">
	<title>Регистрация/Вход</title>
	<link rel="stylesheet" href="{% static 'css/styleR.css' %}" media="screen" type="text/css" />
	<link rel="icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
</head>

<body>

  <div id="login">
  <div class="flip">
    <div class="form-signup">
      <h1>Авторизация</h1>
      <fieldset>
      <p class="login-msg"></p>
        <form action="registration" method="post">
        {% csrf_token %}
          <input type="text" name="email" placeholder="Логин" required />
          <input type="password" name="password" placeholder="Пароль" required />
          <input type="submit" id = "enter" value="ВОЙТИ" />
          {% if login_error %}
            <label> {{ login_error }}</label>
          {% endif %}
        </form>
       <!-- <p>Войти через: <span class="social fb">Facebook</span> <span class="social gp">Google +</span></p> -->
        <p><a href="#" class="flipper">Нет аккаунта? Регистрация.</a><br>
        <a href="#">Забыли пароль?</a></p>
      </fieldset>
    </div>
    <div class="form-login">
      <h1>Регистрация</h1>
      <fieldset>
        <form>
          <input type="email" placeholder="Введите Ваш email адрес..." required />
          <select class="list_courses" name = 'Выберите курс'>
              <option selected value="opt1">Выберите курс</option>
            {% for course in courses%}
              <option>{{ course.courses_name_course }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Зарегистрироваться" />
        </form>
       <!-- <p>Войти через: <span class="social fb">Facebook</span> <span class="social gp">Google +</span></p> -->
        <a href="#" class="flipper">Уже зарегистрированы? Войти.</a>
      </fieldset>
    </div>
  </div>
</div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="{% static 'js/indexR.js' %}"></script>

</body>
</html>